// variables
$dark: #131313
$primary: #E3B873
$light: #fff

// interface
.button
  padding: 11px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  &:hover
    cursor: pointer
  &--primary
    border: 1px solid $primary
    color: $light
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.2s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light

// grid
.container
  width: 85%
  max-width: 1256px
  margin: auto

  // basic
*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading
      font-size: 20px
    &__img
      display: flex
      align-items: center
      justify-content: center
      &::after, &::before
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px

// header
.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  color: $primary
  text-transform: uppercase
  font-size: 1.075rem
.nav
  &__item
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 2.85rem
    transition: color 0.2s
    &:hover
      color: $primary
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px

// hero
.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 100px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__content
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__title
    margin-bottom: 1rem
  &__text
    font-size: 1.57rem
    max-width: 504px
    line-height: 131%
    margin: 0
    margin-bottom: 3rem
  &__button
    margin-right: 20px
    padding: 18px 28px
  .button--outline
    padding: 18px 46px
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    left: 0
    bottom: 0
    min-width: 17.6rem
    min-height: 6.92rem
    background-color: $dark
    text-transform: uppercase
    color: $light
    text-decoration: none
    font-size: 12px
    &:after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 12px
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    color: $primary
    text-decoration: none
    transform: rotate(90deg)
    line-height: 0.8
    font-size: 1.1rem
    &:after
      content: ''
      width: 50px
      height: 1px
      background-color: $primary
      margin-left: 8px
.title
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem
  line-height: 1.4
  &--primary
    color: $primary

// section "Control"

// Media queries
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 576px )
  .title
    font-size: 1.64rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
