// variables
$dark: #131313
$primary: #E3B873
$light: #fff

// interface
.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  &--primary
    border: 1px solid $primary
    color: $light
    background-color: $primary
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light

// grid
.container
  width: 85%
  max-width: 1256px
  margin: auto

  // basic
*, *:before, *:after
  box-sizing: border-box
body
  font-family: 'Futura Book', sans-serif
  font-size: 14px

// header
.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  color: $primary
  text-transform: uppercase
.nav
  &__item
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 40px
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px

// hero
.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 100px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &__content
    max-width: 670px
  &__text
    font-size: 22px
    max-width: 504px
  &__button
    margin-right: 20px
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    text-transform: uppercase
    color: $light
    text-decoration: none
    font-size: 12px;
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-transform: uppercase
    color: $primary
    text-decoration: none
    transform: rotate(90deg)
.title
  margin: 0
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 40px
  &--primary
    color: $primary
